<div class="container mt-3">
  <h2>Edit</h2>
  <div *ngIf="editForm.dirty" class="row">
    <div class="col-sm-10  mt-0 mb-0">
      <div class="alert alert-info ">
        <p><strong>Information: </strong> You have made changes. Any unsave changes will be lost</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <form #editForm="ngForm" (ngSubmit)="updateExpense()">
        <div class="form-group">
          <label for="expense.expenseDate">Date</label>
          <div class="input-group">
            <input class="form-control"  required [startDate]=startDate
              name="expenseDate"[(ngModel)]="expense.expenseDate" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary fa fa-calendar" (click)="d.toggle()" type="button"></button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="customerId">Customer</label>
          <select #Customers class="form-control" required (change)="reloadProjects(Customers.value);">
            <option *ngFor="let customer of customers" [value]="customer.id"
              [selected]="customer.id === expense.project.customerId">{{customer.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="projectId">Project</label>
          <select class="form-control" required name="projectId"> (change)=""
            <option *ngFor="let project of customersProjects" [value]="project.id"
              [selected]="project.id === expense.projectId">{{project.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input class="form-control" type="text" name="name" [(ngModel)]="expense.name" />
        </div>
        <div class="form-group">
          <label for="amount">Amount</label>
          <input class="form-control" type="text" name="amount" [(ngModel)]="expense.amount" />
        </div>
        <div class="form-group">
          <label for="description">Desription</label>
          <textarea class="form-control" type="text" name="description" [(ngModel)]="expense.description"></textarea>
        </div>
        <div class="row">
            <div class="col-sm-5">
              <div class="btn-group">
                <button [disabled]="!editForm.dirty" class="btn btn-success btn-block mr-2 w-50"> Save</button>
                <button class="btn btn-danger w-50" [routerLink]="['/expenses']"> Cancel</button>
              </div>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>