<div class="container mt-3">
  <h2>Expense Detail</h2>
  <div class="row">
    <div class="col">
      <div>
        <strong>Customer</strong>
        <p>{{ expense.project.customer.name }}</p>
      </div>
      <div>
        <strong>Project</strong>
        <p>{{ expense.project.name }}</p>
      </div>
      <div>
        <strong>Name</strong>
        <p>{{ expense.name }}</p>
      </div>
      <div>
        <strong>Date</strong>
        <p>{{ expense.expenseDate | date}}</p>
      </div>
      <div>
        <strong>Description</strong>
        <p>{{ expense.description }}</p>
      </div>
      <div>
        <strong>Amount</strong>
        <p>{{ expense.amount | currency }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <a class="btn btn-primary" [routerLink]="['/expenses']" > Go Back</a> 
  </div>
</div>