<div class="container">
  <div class="row mt-3 mb-1">
    <span class="bd-content-title">
      <h2>Expenses List</h2>
    </span>
  </div>
  <div class="row mb-1">
    <div class="col-md-11">
      <p>Select an expense from the listing to edit or click "Add" to create a new Expense </p>
    </div>
    <div class="col-md-1">
      <a [routerLink]="['/expenses/create']" routerLinkActive="router-link-active" class='btn btn-info'
        role='button'>Add</a>
    </div>
  </div>
  <div class="row">
    <table class="table table-striped text-center">
      <thead>
        <tr>
          <th class="text-left" scope="col" sortable="name">Name</th>
          <th scope="col" sortable="expenseDate">Expense Date</th>
          <th scope="col" sortable="customerName">Customer</th>
          <th scope="col" sortable="projectName">Project</th>
          <th class="text-right" scope="col" sortable="amount">Amount</th>
          <th scope="col" sortable="amount">Control</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let expense of expenses">
          <td class="text-left">
            <a [routerLink]="['/expenses/',expense.id]">
              {{ expense.name }}
            </a>
          </td>
          <td>{{ expense.expenseDate | date:'MM/dd/yyyy'}}</td>
          <td>{{ expense.project.customer.name }}</td>
          <td>{{ expense.project.name }}</td>
          <td class="text-right">{{ expense.amount | currency }}</td>
          <td>
            <button class="btn btn-primary mr-1 w-10" [routerLink]="['/expenses/edit/',expense.id]" placement="left"
              ngbTooltip="Edit"><i class="fa fa-edit"></i></button>
            <button class="btn btn-danger w-10" href="#" placement="right" ngbTooltip="Delete"
              (click)="deleteExpense(expense)"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>